.container {
    background-color: rgb(184, 159, 163);
    padding: 100px;  
    margin: 100px;

}
#box1 {
    border-radius: 50%;
    background-color: yellow;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 25px;
    background-image: url(fur.jpeg);
    background-size: cover;
    text-align:center;
    padding: 50px;
    margin-left: 70px;
    margin-top: 50px;

    
}

#box2 {
    border-radius: 25%;
    background-color: blue;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 25px;
    background-image: url(parrot.jpeg);
    background-size: cover;
    max-width:auto;
    text-align:center;
    padding: 50px;
    margin-right: 25px ;
     margin-left: 70px;
     margin-top: 50px;


}

#box3 {
    border: 3px;
    border-radius: 25%;
    border-color: rgb(16, 184, 52);
    background-color: red;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 25px;
    background-image: url(eyeimage.jpeg);
    background-size: cover;
    
    text-align:center;
    padding: 50px;
    margin-left: 70px;
    margin-top: 50px;


    
}

#box4 {
    border-radius: 25%;
    background-color: green;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 25px;
    background-image: url(cutegirl.jpeg);
    background-size: cover;
    text-align:center;
    padding: 50px;
    margin-left: 70px;
    margin-top: 50px;


}
.body{
    background-color: solid black;
    margin: 100%;

}
.h1{
    text-align: center;
}
